html{
    margin:0;
    padding: 0;
}

body {
    background-image: url(../Images/Background.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: center;
    padding: 0% 10%;
  }
  .game-intro p {
    font-variant-caps:all-small-caps;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold ;
    font-size: 20px;
  }
.title {
    width: 900px;
    margin-top: 100px;
}

body button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    font-variant-caps:all-small-caps;
    background-color: #db2ecd;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  #restartButton{
    
  }

#game-board {
    float: center;
    padding: 0px 0px;
}

.score{
    position:absolute;
    font-size: 60px;
    color: #db2ecd;
    right: 63vmin;
    top: 27vmin;
}